// /Users/tim/Desktop/FHFH/fhfhockey.com/web/components/ChartTitle/ChartTitle.module.scss

@use "styles/vars";

.base {
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Roboto";

  &.normal {
    color: vars.$text-primary-color;
  }

  &.hightlight {
    color: vars.$primary-color;
    font-family: "Roboto Condensed";
    margin-left: 0.1rem;
  }

  @media only screen and (max-width: $screen-medium-max) {
    font-size: 10px;
  }
}
