@import "styles/vars.scss";

.base {
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Roboto";

  &.normal {
    color: $text-primary-color;
  }

  &.hightlight {
    color: $primary-color;
    font-family: "Roboto Condensed";
    margin-left: 0.1rem;
  }

  @media only screen and (max-width: $screen-medium-max) {
    font-size: 10px;
  }
}
