@import "styles/vars.scss";

.options {
  display: flex;
  & > *:not(:last-child) {
    margin-right: 10px;
  }

  .radioButton {
    display: flex;
    align-items: center;
    input {
      accent-color: $primary-color;
    }
    .label {
      margin-left: 8px;
    }
  }

  input {
    margin: unset;
  }
}
