// PlayerPickupTable.module.scss

@use "sass:color";
@use "styles/vars";

.container {
  width: 85%;
  margin: 0px auto;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}

.filters {
  margin: 0 auto;
  color: white;
  overflow: hidden;
  border: 4px solid #404040;
  outline: 10px solid #101010;
  background-color: #101010;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 900;
  text-align: left;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;

  // New Flex properties:
  display: flex;
  flex-direction: column; // Lay out children side by side
  gap: 10px; // Add space between children
}

/* New style for the title div */
.filtersTitle {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  letter-spacing: 2px;
}

.divider {
  width: 100%;
  border-bottom: 1px solid #07aae2; // Adjust the color to match your theme
  margin: 0 auto; // Space above and below the divider
}

.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Style for the acronym letters */
.acronym {
  color: #07aae2;
}

.label {
  margin-right: 10px;
}

.slider,
.select {
  margin-left: 10px;
}

.nameAndInjuryWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 5px;
}

/* LEFT 50%: The name */
.leftNamePart {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: left;
}

/* RIGHT 50%: The image + status + injury note */
.rightInjuryPart {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* 35% for the image container */
.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 65% for the text container */
.statusContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.playerName {
  font-weight: bold;
}

.statusText {
  color: red;
  font-size: 0.8em;
  margin-left: 10%;
}

.injuryNote {
  color: white;
  font-size: 0.8em;
}

.positions {
  margin-bottom: 10px;
}

.buttonReset {
  background: #14a2d2;
  color: white;
  border: 1px solid white;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  transition: border 0.2s ease;
}

.buttonReset:hover {
  border: 3px solid white;
}

/* Table Container updated to mimic FourWeekGrid styling */
.tableContainer {
  overflow-x: auto;
  outline: 10px solid #101010;
  border-radius: 12px;
}

/* Table styling updated for sticky headers, adjusted padding, and borders */
.table {
  margin: 0 auto;
  color: white;
  overflow: hidden;
  border: 4px solid #404040;
  border-radius: 12px;
  border-spacing: 0;
  font-size: 14px;
  text-align: left;
  width: 100%;

  thead {
    position: sticky;
    top: 0;
    background-color: #101010;
    z-index: 2;
  }

  th {
    flex: content;
    align-content: center;
    border-collapse: collapse;
    background-color: #101010;
    color: white;
    font-weight: 900;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    height: 15px;
    padding: 10px;
    cursor: pointer;
  }

  /* Special styling for the first column */
  tr th:first-child,
  tr td:first-child {
    border-right: 5px solid #07aae2;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
  }

  /* Styling for remaining cells */
  th:nth-child(n + 2),
  td:nth-child(n + 2) {
    padding: 3px 5px;
    border: 0.5px solid #505050;

    text-align: center;
  }

  tr {
    font-family: "Roboto Condensed", sans-serif;
    height: 55px;
    text-align: center;
    border-radius: 4px;
  }

  tr:nth-child(even) {
    background-color: #202020;
  }

  tr:hover {
    background-color: #505050;
  }

  > tbody > tr:nth-of-type(odd) {
    background-color: #101010;
  }

  tr:hover:nth-of-type(odd) {
    background-color: #505050;
  }
}

.percentileContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-right: 6px;
  margin-bottom: 4px;
}

.percentileLabel {
  font-size: 0.8em;
  margin-bottom: 4px;
}

.percentileBox {
  padding: 8px 6px;
  border-radius: 4px;
  font-size: 1.2em; // Larger font for the percentage value
  font-weight: bold;
  text-align: center;
  min-width: 40px; // Adjust as needed so the value fills the box
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0; // Space above and below the controls
  gap: 20px;
}

.pagination button {
  background-color: #14a2d2; // Accent color
  color: white;
  border: 1px solid white;
  padding: 8px 16px;
  border-radius: 8px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease, border 0.2s ease;
}

.pagination button:hover {
  border: 3px solid white;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination span {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  color: white;
}
