.container {
  .chartWrapper {
    position: relative;
    .loading {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  // target two option groups
  .allOptions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
  }
}
