@import "styles/vars.scss";
@import "styles/Charts.module.scss";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .chartWrapper {
    flex: 1;
    position: relative;
    height: 80px;
    .loading {
      position: absolute;
      left: 50%;
      top: 25%;
      transform: translate(-50%, -25%);
    }
  }
  // target two option groups
  .allOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media only screen and (min-width: $screen-large) {
    .chartWrapper {
      padding-left: 5px;
      padding-right: 8px;
      padding-top: 3px;
    }
  }
}
