@import url(https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap);

.card {
  border: 2px solid white;
  border-radius: 8px;
  background-color: black;
  color: white;
  position: relative;
  width: 100%;
  .name {
    padding-top: 20px;
    text-align: center;
  }
  .image {
    height: 140px;
    border-radius: 8px;
    background-position: center center;
    background-size: contain; /* keep logos contained instead of covering entire area */
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* hide any large source bleed */
  }
  .body {
    padding-right: 20px;
    li {
      font-family: "Kanit", sans-serif;
      font-size: 15px;
      list-style: none;
      text-align: right;
      padding: 0px;
      color: white;
      .number {
        margin-left: 10px;
        color: rgb(7, 170, 226);
      }
    }
  }
}
