@import "styles/vars.scss";

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .footer {
    margin-top: auto;
    height: 65px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-color: white;
      height: 2.5px;
      width: 100%;
      top: 0;
    }
    &::after {
      content: "";
      position: absolute;
      background-color: white;
      height: 2.5px;
      width: 100%;
      top: 3.75px;
    }
  }
}
