@import "styles/vars.scss";

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // Page Specific Content
  .pageContent {
    flex: 1;
    padding: 0 0.75rem;
    overflow-x: hidden;
    @media only screen and (min-width: $screen-large) {
      padding: 0 1.5rem;
    }
  }

  .footer {
    margin-top: 24px;
    height: 65px;
    background: rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
