/////////////////////////////////////////////////////////////////////////////////////////
// C:\Users\timbr\OneDrive\Desktop\fhfhockey.com-3\web\styles\Blog.module.scss

@use "styles/vars";

.posts {
  display: grid;
  row-gap: 1.3rem;

  @media only screen and (min-width: $screen-large) {
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
