/////////////////////////////////////////////////////////////////////////////////////////
// C:\Users\timbr\OneDrive\Desktop\fhfhockey.com-3\web\styles\Blog.module.scss

@use "styles/vars" as vars;

.posts {
  display: grid;
  row-gap: vars.$mobile-space-lg;
  margin-top: vars.$mobile-space-md;
  margin-bottom: vars.$mobile-space-xxl;

  @media only screen and (min-width: vars.$screen-medium) {
    grid-template-columns: 1fr;
  }

  @media only screen and (min-width: vars.$screen-large) {
    column-gap: vars.$mobile-space-lg;
    grid-template-columns: 1fr 1fr;
  }
}
