@import "styles/vars.scss";

.posts {
  display: grid;
  row-gap: 1.3rem;

  @media only screen and (min-width: $screen-medium) {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  @media only screen and (min-width: $screen-large) {
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
