@import "styles/vars.scss";

$border-bold: 3px;

$small: 6px;

// small UI
.small {
  font-family: "Didact Gothic";

  // player search input
  .playerAutocompleteWrapper {
    margin: 0.75rem 0 0.9375rem 0;
  }

  // Dashboard
  .dashboard {
    background-color: $bg-light;
    border: 3px solid white;
    margin-bottom: 10vh;

    .bioCard {
      grid-area: bioCard;
      border-bottom: $border-bold solid white;
    }

    .controller {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 12px;
    }

    .stats {
      padding: 12px;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 55% 45%;
      grid-template-areas:
        "timeOnIce timeOnIce"
        "coverageChart sustainabilityVScareerAverages";

      .timeOnIce {
        grid-area: timeOnIce;
        height: 185px;
      }

      .coverageChart {
        grid-area: coverageChart;
      }

      .sustainabilityVScareerAverages {
        grid-area: sustainabilityVScareerAverages;
      }
    }
    .footer {
      font-size: 0.75rem;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.5);
      text-align: center;
      border-top: $border-bold solid white;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  p {
    margin: 0;
  }
}

.large {
  font-family: "Didact Gothic";

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  max-width: 1080px;
  margin: 0 auto;

  .title {
    grid-column: 1 / 4;
    margin-top: 57px;
    margin-bottom: 0px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 200;
    font-size: 3rem;
    line-height: 56px;

    color: #ffffff;
  }
  .playerAutocompleteWrapper {
    grid-column: 1 / 6;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .actions {
    grid-column: 8 / 9;
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    margin-bottom: 24px;
    gap: 8px;
  }

  .dashboard {
    // create extra space at the bottom
    margin-bottom: 10vh;

    background-color: $bg-light;
    grid-column: 1 / 9;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    // grid-template-rows: repeat(3, 1fr) 50px repeat(4, 1fr) repeat(4, 1fr) 0.5fr;
    grid-template-rows: 66px 66px 66px 50px repeat(8, auto) 1fr;

    border: $border-bold solid white;

    grid-template-areas:
      "bioCard bioCard bioCard bioCard bioCard coverageChart coverageChart coverageChart coverageChart"
      "bioCard bioCard bioCard bioCard bioCard coverageChart coverageChart coverageChart coverageChart"
      "bioCard bioCard bioCard bioCard bioCard coverageChart coverageChart coverageChart coverageChart"
      "timeOptions timeOptions timeOptions timeOptions timeOptions coverageChart coverageChart coverageChart coverageChart"
      "timeOnIce timeOnIce timeOnIce timeOnIce timeOnIce coverageChart coverageChart coverageChart coverageChart"
      "timeOnIce timeOnIce timeOnIce timeOnIce timeOnIce coverageChart coverageChart coverageChart coverageChart"
      "timeOnIce timeOnIce timeOnIce timeOnIce timeOnIce sustainabilityVScareerAverages sustainabilityVScareerAverages sustainabilityVScareerAverages sustainabilityVScareerAverages"
      "timeOnIce timeOnIce timeOnIce timeOnIce timeOnIce sustainabilityVScareerAverages sustainabilityVScareerAverages sustainabilityVScareerAverages sustainabilityVScareerAverages"
      "ppTimeOnIce ppTimeOnIce ppTimeOnIce ppTimeOnIce ppTimeOnIce sustainabilityVScareerAverages sustainabilityVScareerAverages sustainabilityVScareerAverages sustainabilityVScareerAverages"
      "ppTimeOnIce ppTimeOnIce ppTimeOnIce ppTimeOnIce ppTimeOnIce sustainabilityVScareerAverages sustainabilityVScareerAverages sustainabilityVScareerAverages sustainabilityVScareerAverages"
      "ppTimeOnIce ppTimeOnIce ppTimeOnIce ppTimeOnIce ppTimeOnIce sustainabilityVScareerAverages sustainabilityVScareerAverages sustainabilityVScareerAverages sustainabilityVScareerAverages"
      "ppTimeOnIce ppTimeOnIce ppTimeOnIce ppTimeOnIce ppTimeOnIce sustainabilityVScareerAverages sustainabilityVScareerAverages sustainabilityVScareerAverages sustainabilityVScareerAverages"
      "footer footer footer footer footer footer footer footer footer";
    .bioCard {
      grid-area: bioCard;
      border-bottom: $border-bold solid white;
    }

    .timeOptions {
      grid-area: timeOptions;
      border-bottom: $border-bold solid white;
      // height: 50px;
      background-color: #373739;
    }

    .timeOnIce {
      grid-area: timeOnIce;
      border-bottom: $border-bold solid white;
      padding: 22px 20px 13px 27px;
    }
    .ppTimeOnIce {
      grid-area: ppTimeOnIce;
      padding: 22px 20px 13px 27px;
    }

    .coverageChart {
      grid-area: coverageChart;
      border-left: $border-bold solid white;
      border-bottom: $border-bold solid white;
      margin-top: 24px;
    }

    .sustainabilityVScareerAverages {
      grid-area: sustainabilityVScareerAverages;
      border-left: $border-bold solid white;
      padding-top: 24px;
    }
    .footer {
      grid-area: footer;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      border-top: $border-bold solid white;
      p {
        all: unset;
      }
      .left {
        grid-column: 1 / 6;
        font-weight: 600;
        font-size: 1.375rem;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .right {
        grid-column: 6 / 9;
        border-left: $border-bold solid white;
        color: rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
        font-size: 0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 13px;
      }
    }
  }
}

.blue {
  color: rgba(76, 167, 221, 1);
}

.button {
  all: unset;
  width: 48px;
  height: 48px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
