@import "styles/vars.scss";

$border-thin: 1px;
$border-bold: 3px;
$rounded-border: 5px;
$bg-color: #404040;
$header-bg-color: #202020;

$small: 6px;

.chartsPage {
  // player search input
  .playerAutocompleteWrapper {
    margin: 0.5rem 0 0.5rem 0;
  }

  @media only screen and (min-width: $screen-large) {
    .playerAutocompleteWrapper {
      width: 480px;
    }
  }

  // Dashboard
  .dashboard {
    background-color: $bg-dark;
    border: 3px solid white;
    // padding: 12px;
    margin-bottom: 1rem;

    .playerBioCard {
      grid-area: bioCard;
      border-bottom: $border-bold solid white;
    }
    .controller {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 5px;
    }
    .coverageChart {
      grid-area: coverageChart;
      margin-top: $small;
    }
    .timeOnIce {
      grid-area: timeOnIce;
      margin-top: $small;
    }

    .ppTimeOnIce {
      grid-area: ppTimeOnIce;
      display: none;
    }

    .sustainability {
      grid-area: sustainability;
      margin-top: $small;
    }
    .careerAverages {
      grid-area: careerAverages;
    }

    // small screen only
    @media only screen and (max-width: $screen-medium-max) {
      .sustainability {
        border-bottom: none;
      }
      .careerAverages {
        border-top: none;
      }
    }

    // PC View
    @media only screen and (min-width: $screen-large) {
      display: grid;
      grid-template-columns: 30% 70%;
      grid-template-rows: repeat(12, 1fr);
      grid-template-areas:
        "bioCard timeOnIce"
        "bioCard timeOnIce"
        "bioCard timeOnIce"
        "bioCard ppTimeOnIce"
        "bioCard ppTimeOnIce" // 5
        "bioCard ppTimeOnIce"
        "coverageChart sustainability"
        "coverageChart sustainability"
        "coverageChart sustainability"
        "coverageChart careerAverages"
        "coverageChart careerAverages"
        "coverageChart careerAverages";

      & > *:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      .playerBioCard {
        border: $border-bold solid $border-color;
        margin-right: 0.5rem;

        overflow: hidden;
        position: relative;
        & > section {
          position: absolute;
          left: -3px;
          right: -3px;
          bottom: -1px;
          height: 101%;
        }
      }

      .timeOnIce {
        margin-top: unset;
      }

      .coverageChart {
        margin-right: 0.5rem;
        margin-bottom: 0;

        grid-area: coverageChart;
        margin-top: unset;
      }

      .ppTimeOnIce {
        display: block;
      }

      .sustainability {
        margin-top: unset;
      }
    }
  }

  .box {
    // border: $border-bold solid $border-color;

    @media only screen and (min-width: $screen-large) {
      border-radius: 25px;
      overflow: hidden;
    }
  }

  p {
    margin: 0;
  }
}
