@import url(https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap); /* Branding, Page title, Blog post title/summary  */
@import url(https://fonts.googleapis.com/css2?family=Train+One&display=swap); /* NavBar links */

html,
body {
  padding: 0;
  margin: 0;
  background-color: #202020;
  color: white;
  font-family: sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}
