/* pdhcTooltip.module.scss */

.tooltipWrapper {
  display: inline-block;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
  backdrop-filter: blur(4px); /* Apply blur effect */
  z-index: 9999; /* Below the tooltip content */
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Initially not interactive */
}

.visible {
  opacity: 1;
  pointer-events: auto; /* Enable interaction when visible */
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.tooltipContent {
  background-color: #333;
  color: #fff;
  padding: 16px;
  border-radius: 8px;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-20px) scale(0.95); /* Slide up and scale */
}

.tooltipContent.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.tooltipContent.hidden {
  opacity: 0;
  transform: translateY(-20px) scale(0.95);
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 12px;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  line-height: 1;
  padding: 0;
}

.closeButton:focus {
  outline: none;
}

.tooltipArrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #333;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 600px) {
  .tooltipContent {
    width: calc(100% - 40px);
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) translateY(-20px) scale(0.95); /* Initial slide up and scale */
    max-height: 90vh;
    overflow-y: auto;
    padding: 20px; /* Increased padding for better touch targets */
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .tooltipContent.visible {
    transform: translate(-50%, -50%) translateY(0) scale(1); /* Slide in and scale up */
    opacity: 1;
  }

  .tooltipContent.hidden {
    transform: translate(-50%, -50%) translateY(-20px) scale(0.95);
    opacity: 0;
  }

  .tooltipArrow {
    display: none; /* Hide the arrow on mobile */
  }
}

.chartContainer {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 20px;
  background-color: #404040; /* Light background for contrast */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.pdchTitle {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .chartContainer {
    padding: 10px;
  }

  .pdchTitle {
    font-size: 1rem;
  }
}
