/* styles/PoissonHeatmap.module.scss */

.chartContainer {
  width: 100%;
  max-width: 400px;
  height: auto;
  background-color: var(
    --background-color,
    #404040
  ); /* Optional: Define a background color variable */
  border-radius: 8px;
  border: #07aae2 2px solid;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: var(--text-color, #fff); /* Use text color variable */
}

.pdchTitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  border-radius: 6px 6px 0 0;
  border-bottom: #fff 2px solid;

  padding: 20px;
  background: linear-gradient(
    135deg,
    var(--home-primary-color) 0%,
    var(--home-primary-color) 7%,
    var(--home-secondary-color) 7%,
    var(--home-secondary-color) 10%,
    var(--home-primary-color) 10%,
    var(--home-primary-color) 13%,
    var(--home-accent-color) 13%,
    var(--home-accent-color) 16%,

    #fff 16%,
    #fff 19%,
    var(--home-jersey-color) 19%,
    var(--home-jersey-color) 20%,
    #101010 30%,
    #101010 70%,
    var(--away-jersey-color) 80%,
    var(--away-jersey-color) 81%,
    #fff 81%,
    #fff 84%,

    var(--away-accent-color) 84%,
    var(--away-accent-color) 87%,
    var(--away-primary-color) 87%,
    var(--away-primary-color) 90%,
    var(--away-secondary-color) 90%,
    var(--away-secondary-color) 93%,
    var(--away-primary-color) 93%,
    var(--away-primary-color) 100%
  );

  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--title-color, #fff); /* Use a CSS variable for title color */
}

.pdchTitleLogo {
  margin-right: 5px;
}

.winOddsLabels {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: var(--win-odds-color, #fff); /* Use a CSS variable for win odds text */
}

.winOddsLabelsHome {
  color: var(--home-secondary-color); /* Home team accent color */
}

.winOddsLabelsAway {
  color: var(--away-primary-color, #fff); /* Away team accent color */
}

.winOddsLabelsDivider {
  margin: 0 10px;
  color: var(--divider-color, #fff); /* Divider color */
}

/* Responsive Styles */
@media (max-width: 600px) {
  .chartContainer {
    outline: #101010 4px solid;
    border: #fff 2px solid;
  }

  .pdchTitle {
    font-size: 1rem;
  }

  .winOddsLabels {
    width: 70%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.75em;
    font-family: roboto condensed, sans-serif;
    font-weight: 900;
    letter-spacing: 1.5px;
    font-variant: small-caps;
  }

  .winOddsLabelsHome {
    fill: var(--home-primary-color);
  }

  .winOddsLabelsDivider {
    color: #07aae2;
  }

  .poissonSvg {
    padding: 20px 0 20px 0;
  }
}
