.chartContainer {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 20px;
  background-color: #404040; /* Light background for contrast */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.pdchTitle {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .chartContainer {
    padding: 10px;
  }

  .pdchTitle {
    font-size: 1rem;
  }
}
