/* styles/PoissonHeatmap.module.scss */

@use "styles/vars" as v;

.chartContainer {
  width: 100%;
  max-width: 400px;
  height: auto;
  background-color: var(--background-color, #{v.$background-medium});
  border-radius: v.$radius-lg;
  border: 1px solid v.$desktop-panel-border;
  box-shadow: v.$desktop-panel-shadow;
  color: var(--text-color, #{v.$text-primary});
}

.pdchTitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  border-radius: 6px 6px 0 0;
  border-bottom: 2px solid rgba(v.$color-white, 0.7);

  padding: 20px;
  background: linear-gradient(
    135deg,
    var(--home-primary-color) 0%,
    var(--home-primary-color) 7%,
    var(--home-secondary-color) 7%,
    var(--home-secondary-color) 10%,
    var(--home-primary-color) 10%,
    var(--home-primary-color) 13%,
    var(--home-accent-color) 13%,
    var(--home-accent-color) 16%,

    #{v.$color-white} 16%,
    #{v.$color-white} 19%,
    var(--home-jersey-color) 19%,
    var(--home-jersey-color) 25%,
    #{v.$background-dark} 25%,
    #{v.$background-dark} 30%,
    #{v.$background-dark} 70%,
    #{v.$background-dark} 75%,
    var(--away-jersey-color) 75%,
    var(--away-jersey-color) 81%,
    #{v.$color-white} 81%,
    #{v.$color-white} 84%,

    var(--away-accent-color) 84%,
    var(--away-accent-color) 87%,
    var(--away-primary-color) 87%,
    var(--away-primary-color) 90%,
    var(--away-secondary-color) 90%,
    var(--away-secondary-color) 93%,
    var(--away-primary-color) 93%,
    var(--away-primary-color) 100%
  );

  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--title-color, #{v.$color-white});
}

.pdchTitleLogo {
  margin-right: 5px;
  filter: drop-shadow(
    var(--divider-color) 0 0 5px
  ); /* Add a drop shadow to the logo */
}

.winOddsLabels {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: var(--win-odds-color, #{v.$color-white});
}

.winOddsLabelsHome {
  color: var(--home-secondary-color); /* Home team accent color */
}

.winOddsLabelsAway {
  color: var(--away-primary-color, #{v.$color-white}); /* Away team accent color */
}

.winOddsLabelsDivider {
  margin: 0 10px;
  color: var(--divider-color, #{v.$color-white});
}

/* Responsive Styles */
@media (max-width: 600px) {
  .chartContainer {
    outline: 4px solid v.$background-dark;
    border: 2px solid rgba(v.$color-white, 0.7);
  }

  .pdchTitle {
    font-size: 1rem;
  }

  .winOddsLabels {
    width: 70%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.75em;
    font-family: roboto condensed, sans-serif;
    font-weight: 900;
    letter-spacing: 1.5px;
    font-variant: small-caps;
  }

  .winOddsLabelsHome {
    fill: var(--home-primary-color);
  }

  .winOddsLabelsDivider {
    color: v.$secondary-color;
  }

  .poissonSvg {
    padding: 20px 0 20px 0;
  }
}
