.container {
  text-align: center; /* Centers the content */
}

.hockeyRink {
  width: 80%; /* Scale the image to 60% of its original size */
  height: auto; /* Maintain aspect ratio */
  margin: 0 auto; /* Center the image horizontally */
}

.contentAbove {
  margin-bottom: 20px; /* Space between the content and the image */
}
