// useGoals.module.scss
// C:\Users\timbr\OneDrive\Desktop\fhfhockey.com-1\web\styles\useGoals.module.scss

.goalIndicator {
  position: relative; // Anchor for the absolute tooltip
  cursor: pointer; // Optional, shows a pointer on hover    display: inline-block;
  padding: 3px;
  border-left: 2px solid var(--borderColor);
  border-right: 2px solid var(--borderColor);
  border-top: 2px solid var(--borderColor);
  border-radius: 2px;
  font-weight: 900;
  text-align: center;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  writing-mode: vertical-rl;
  text-orientation: upright;
  user-select: none;
  font-size: 8px;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px; // Adjust to ensure the elongated shape
    left: 50%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--backgroundColor);
    transform: translateX(-50%);
    z-index: 4; // Ensure it's above the tooltip
  }
}

.scoreContainer {
  display: flex;
  justify-content: center; // Center content horizontally
  align-items: center; // Center content vertically
  position: absolute;
  left: 50%;
  transform: translateX(-50%); // Center the container itself
  bottom: 40px; // Adjust as needed
  white-space: nowrap; // Prevent text from wrapping
  writing-mode: horizontal-tb; // Ensure horizontal text orientation
  text-orientation: mixed; // Default but explicitly set for clarity
}

.tooltip {
  position: absolute;
  top: 50px; // Adjust as needed
  left: 50%;
  transform: translateX(-50%);
  background-color: #101010; // Or any other background
  border: 1px solid black; // Or any other border
  padding: 5px;
  display: none; // Start hidden
  white-space: nowrap;
  z-index: 4; // Ensure it's above the goal indicator
}
