.spanColorBlue {
  color: #07aae2;
}

.headerWigo {
  font-family: roboto condensed, sans-serif;
  font-size: 3em;
  font-weight: 200;
  letter-spacing: -0.015em;
  margin: 0;
}

.wigoHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 83%;
  margin: 0 auto;
  margin-top: 20px;
}

/* WiGO CHART CONTAINER */

.wigoChartBorder {
  height: 100vh; /* 90% of the viewport height */
  width: 85%;
  margin: 0 auto;
  padding: 10px;
  background-color: #afcee2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wigoContainer {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(33, 1fr);
  border: 1px solid #afcee2;
  gap: 1px;
  width: 97%; /* Take up all available width */
  height: 97%; /* Take up all available height */
  box-shadow: 0 10px 30px #123048; /* Horizontal offset, vertical offset, blur radius, and color */
  z-index: 2; /* Ensure this is lower than the popupContainer if necessary */
}

.wigoDoughnut {
  grid-area: 1 / 1 / 18 / 12;
  z-index: 3;

  .wigoDoughnutChart {
    height: 70%;
    border-bottom: 1px solid #aac9dd;
    background: linear-gradient(to bottom left, #34a6fe, #126fcc);
  }

  .wigoDoughnutLegend {
    height: 5%;
    background-color: #1c77d2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .wigoDoughnutDescriptors {
      font-size: 0.55rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      text-align: center;
      letter-spacing: -0.015em;

      .wigoDoughnutDescriptor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 33%;
        padding: 5px;
        text-align: center;
      }
    }
  }

  .wigoDoughnutHeader {
    height: 17%;
    background-color: #38abfe;
    display: flex;
    flex-direction: column; /* Stack the career and season sections vertically */
    justify-content: center;
    align-items: stretch; /* Stretch children to fill the container */
    font-family: roboto condensed, sans-serif;
    font-size: 0.75em;
    text-align: center;

    .wigoDoughnutHeaderCareer,
    .wigoDoughnutHeaderSeason {
      height: 50%; /* Each header takes half the height */
      display: flex; /* Make them flex containers to evenly distribute the child elements */
    }

    .wigoDoughnutHeaderCareer > div,
    .wigoDoughnutHeaderSeason > div {
      flex: 1; /* Give each child equal width */
      display: flex; /* Add this if you want to center the content of each cell */
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
    }

    .wigoDoughnutHeaderCareer {
      border-bottom: 1px solid #aac9dd; /* Add a border between the two headers */
      border-top: 1px solid #aac9dd; /* Add a border between the two headers */
    }

    .wigoDoughnutHeaderCareer > div:not(:last-child),
    .wigoDoughnutHeaderSeason > div:not(:last-child) {
      border-right: 1px solid #aac9dd; /* Border on the right except for the last child */
    }
  }

  .wigoDoughnutFooter {
    height: 8%;
    background-color: #1c77d2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #aac9dd;

    .timeOptionsCustom {
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 1px;
      display: flex;
      height: 100%;

      button {
        position: relative; /* Establish a positioning context for pseudo-elements */
        border-radius: 6px;
        font-size: 1rem;
        line-height: 20px;
        margin-right: 4px; /* Add right margin to create space between buttons */
        margin-left: 2px;
      }

      & > button:not(:last-child)::after {
        content: "";
        position: absolute;
        opacity: 1;
        background: #aac9dd;
        height: 26px;
        width: 2px;
        right: 0%;
        top: 0px;
        right: -4px; /* Adjust this value to control the space between the button and the border */
      }
      button {
        &:hover {
          cursor: pointer;
        }
        position: relative;
        padding: 2px 8px;
        border-radius: 6px;
        font-family: "Roboto Condensed";
        font-weight: 400;
        font-size: 1rem;
        line-height: 20px;
        text-transform: uppercase;
        white-space: nowrap;

        text-align: center;
        &.checked,
        &:hover {
          width: 90%;
          background-color: #4ca5db;
          color: white;
          font-weight: 700;
          width: 75%;
        }
      }
    }
  }
}

.bioHeadshot {
  grid-area: 1 / 12 / 18 / 22;
  position: relative;
  z-index: 1;
  overflow: hidden;

  .bioHeadshotHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 15%;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-family: roboto condensed, sans-serif;
    background-color: rgb(34, 61, 78);
    border-bottom: 1px solid #aac9dd;
    z-index: 1;
    position: relative; /* Ensure z-index is applied correctly */
    overflow: visible;
  }

  .bioHeadshotContent {
    height: 85%;
    background: linear-gradient(to bottom left, #274253, #14252d);
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Add a pseudo-element for the circle */
    &::before {
      content: "";
      position: absolute;
      width: 14em;
      height: 14em;
      background-color: rgb(28, 119, 210);
      border: 5px solid #aac9dd; /* Border color and size */
      border-radius: 50%;
      z-index: 1;
    }

    .wigoHeadshotImage {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: auto; /* Adjust this as needed to control the canvas size */
      width: 100%;
      display: flex;
      transform: translateY(10%);
      justify-content: center; /* Center horizontally */
      align-items: flex-end; /* Align to the bottom */
      z-index: 2;
      overflow: visible; /* Allows the canvas to overflow into the header */
      filter: grayscale(85%) sepia(0.5) hue-rotate(180deg) brightness(60%)
        drop-shadow(0 0 10px #aac9dd); /* Apply a filter to the image */
    }
  }
}

.wigoLineChart {
  grid-area: 1 / 22 / 18 / 33;
  background: linear-gradient(to bottom left, #274253, #14252d);
  z-index: 3;

  .wigoLineChartHeader {
    height: 15%;
    background-color: #223d4e;
    border-bottom: 1px solid #aac9dd;
  }

  .wigoLineChartContent {
    height: 85%;
    background-color: #ebfaff;
    display: flex; /* Use flexbox to allow child elements to expand */
    justify-content: center; /* Center the chart horizontally */
    align-items: center; /* Center the chart vertically */
  }
}

.wigoStatList {
  grid-area: 18 / 1 / 24 / 12;
  background-color: #1b2c36;
}

.wigoSusCells {
  grid-area: 18 / 12 / 24 / 22;
  background-color: #1b2c36;
}

.wigoRollingAverage {
  grid-area: 18 / 22 / 24 / 33;
  background-color: #1b2c36;
}

.wigoLinesDoughnuts {
  grid-area: 24 / 1 / 31 / 12;
  background: linear-gradient(to bottom, #e3f3ff, #c2dae6);

  .wigoLinesDoughnutsTop {
    height: 50%;
    border-bottom: 1px solid #07aae2;
    display: flex;
    flex-direction: row;

    .wigoLinesTop {
      width: 66%;
      border-right: 1px solid #07aae2;
    }

    .wigoDoughnutsTop {
      width: 33%;
    }
  }

  .wigoLinesDoughnutsBottom {
    height: 50%;
    display: flex;
    flex-direction: row;

    .wigoLinesBottom {
      width: 66%;
      border-right: 1px solid #07aae2;
    }

    .wigoDoughnutsBottom {
      width: 33%;
    }
  }
}

.wigoPercentileLines {
  grid-area: 24 / 12 / 31 / 22;
  background: linear-gradient(to bottom, #e3f3ff, #c2dae6);

  .wigoPercentileLinesTop {
    height: 50%;
    border-bottom: 1px solid #07aae2;
  }

  .wigoPercentileLinesBottom {
    height: 50%;
  }
}

.wigoBars {
  grid-area: 24 / 22 / 31 / 33;
  background: linear-gradient(to bottom, #e3f3ff, #c2dae6);

  .wigoBarsTop {
    height: 50%;
    border-bottom: 1px solid #07aae2;
  }

  .wigoBarsBottom {
    height: 50%;
  }
}

/* END WiGO CHART CONTAINER */

.dropdownContainer {
  position: relative;
  display: inline-block;
}

.popupContainer {
  position: absolute;
  top: 100%; /* Position the popup right below the input field */
  left: 0; /* Align the popup with the left edge of the dropdown container */
  width: 250px;
  max-height: 300px;
  overflow-y: auto;
  background-color: #202020;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 3; /* Higher z-index to ensure it's on top of other elements */

  /* Styles for the scrollbar */
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: #101010;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #07aae2;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #101010;
  }
}

.searchInput {
  width: 250px;
  padding: 10px;
  background-color: #202020;
  border: 2px solid #07aae2;
  border-radius: 4px;
  color: #ccc;
}

.scrollableList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.popupListItem {
  padding: 8px 12px;
  cursor: pointer;

  &:hover {
    background-color: #101010;
  }
}
