.susContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.bioHeadshot {
  grid-area: 1 / 1 / 3 / 3;
  border: 2px solid black;
  height: 100%;
}
.susCells {
  grid-area: 1 / 3 / 3 / 6;
  border: 2px solid black;
  height: 100%;
}
.susCharts {
  grid-area: 3 / 1 / 6 / 6;
  border: 2px solid black;
  height: 100%;
}
