.header {
  text-align: right;
}
.stats {
  text-align: right;
  font-weight: 700;

  .row {
    display: grid;
    grid-template-columns: 1fr 35% 1fr;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 4px;
    }
    .label {
      font-size: 0.625rem;
      text-align: center;
      padding: 0 3px;
    }
    .careerAveragesStat,
    .sustainabilityStat {
      font-size: 0.8125rem;
      padding: 3px;
    }

    .careerAveragesStat {
      background: rgba(217, 217, 217, 0.2);
    }
  }
}
