@use "styles/vars";

// breakpoints
$breakpoint-small: 320px;
$breakpoint-medium: 480px;
$breakpoint-large: 768px;
$mobile-fixed-width: 35px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: $breakpoint-small) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (max-width: $breakpoint-medium) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (max-width: $breakpoint-large) {
      @content;
    }
  }
}

.actions {
  position: relative;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  & button:hover {
    cursor: pointer;
  }

  .spinner {
    position: absolute;
    right: -80%;
    bottom: 2px;
  }
}

.fourWeekLabelVertical {
  font-family: roboto condensed, sans-serif;
  width: 100%;
  font-size: 1.2em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.fourWeekTitleVertical {
  font-family: roboto condensed, sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  margin-bottom: 25px;
}

.fourWeekGridContainerAll {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  .fourWeekLabelVertical {
    display: none;
  }

  .fourWeekTitle {
    font-family: roboto condensed, sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -0.015em;
    margin-bottom: 25px;
  }
}

.gameGridHeaderContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.gameGridHeader {
  flex: 0 0 75%;
  max-width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .gameGridTitle {
    font-family: roboto condensed, sans-serif;
    font-size: 3em;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: -0.015em;
    margin: 0;
  }

  .prevNextButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    width: 50%;
  }
}
.spanColorBlue {
  color: #07aae2;
}

.dateButtonPrev {
  position: relative;
  height: 35px;
  width: 115px;
  background: #40bee8;
  color: #ffffff;
  border: 2px solid white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
}

.dateButtonPrev:hover {
  height: 35px;
  background: #065975;
  border: 3px solid white;
}

.dateButtonNext {
  position: relative;
  height: 35px;
  width: 115px;
  background: #2086a8;
  color: #ffffff;
  border: 2px solid white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
}

.dateButtonNext:hover {
  height: 35px;
  background: #065975;
  border: 3px solid white;
}

.dateButtonMode {
  font-family: roboto condensed, sans-serif;
  position: relative;
  height: 35px;
  width: 115px;
  background: #2086a8;
  color: #ffffff;
  border: 2px solid white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
}

.orientationToggleButton {
  font-family: roboto condensed, sans-serif;
  position: relative;
  height: 35px;
  width: 115px;
  background: #2086a8;
  color: #ffffff;
  border: 2px solid white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
}

.mainGridContainer {
  width: 85%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.gridWrapper {
  display: flex;
  flex: 0 0 75%;
  max-width: 75%;
}

.scheduleGrid {
  color: white;
  overflow: hidden;
  border: 4px solid #404040;
  border-radius: 12px;
  outline: 10px solid #101010;
  border-spacing: 0px;
  font-size: 14px;
  text-align: left;
  width: 95%;
}

.scheduleGrid th {
  flex: content;
  align-content: center;
  border-spacing: 0px;
  background-color: #101010;
  color: white;
  font-weight: 900;
  font-family: roboto condensed, sans-serif;
  font-size: 14px;
  height: 15px;
}

.scheduleGrid tr th:first-child,
.scheduleGrid tr td:first-child {
  height: 12px;
  border-collapse: collapse;
  border-right: 5px solid #1d88ac;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  font-family: roboto condensed, sans-serif;
}

.scheduleGrid tr th:first-child {
  border-collapse: collapse;
  background: #000;
  text-align: left;
  font-family: roboto condensed, sans-serif;
  font-size: 14px;
  height: 60px;
}

.scheduleGrid th:nth-child(n + 2),
.scheduleGrid td:nth-child(n + 2) {
  padding: 3px 5px;
  border: 0.5px solid #505050;
  min-width: 60px;
  max-width: 100px;
  max-height: 40px;
  min-height: 40px;
  text-align: center;
}

.scheduleGrid tr td:nth-child(9),
.scheduleGrid tr td:nth-child(10),
.scheduleGrid tr td:nth-child(11) {
  background-color: #101010; /* Set the background color */
  min-width: 30px;
  max-width: 100px;
  max-height: 40px;
  min-height: 40px;
}

.scheduleGrid tr th:nth-child(9),
.scheduleGrid tr th:nth-child(10),
.scheduleGrid tr th:nth-child(11) {
  padding-bottom: 14px;
}

.scheduleGrid tr {
  font-family: roboto condensed, sans-serif;
  height: 45px;
  text-align: center;
  border-radius: 4px;
}

.scheduleGrid tr:hover {
  background-color: mix(white, #303030, 5%);
}

.scheduleGrid > tbody > tr:nth-of-type(odd) {
  background-color: #101010;
}

.scheduleGrid tr:hover:nth-of-type(odd) {
  background-color: mix(white, #101010, 10%);
}

.teamRow {
  .teamName {
    display: none;
  }

  .desktopTeamAbbreviation {
    display: none;
  }

  & span {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 4px rgba(201, 199, 199, 0.5));
  }
}

.scoreAndHomeAway {
  display: flex;
  flex-direction: column;
  margin-right: 4px;
  margin: 0 auto;
  justify-content: center;
}

.homeAway {
  font-family: roboto condensed, sans-serif;
  font-size: 10px;
  font-weight: bold;
  float: left;
  display: flex;
  align-content: center;
  vertical-align: middle;
}

.score {
  color: lightblue;
  font-size: 12px;
  margin: 0;
}

.totalGamesPerDayCell {
  background-color: #000;
  color: white;
}

.greenBorder {
  background-color: rgb(0, 255, 0, 0.15) !important;
}

.orangeBorder {
  background-color: rgb(255, 165, 0, 0.25) !important;
}

.yellowBorder {
  background-color: rgb(255, 255, 0, 0.25) !important;
}

.redBorder {
  background-color: rgb(255, 0, 0, 0.15) !important;
}

.totalGamesPerDayRow > .title::before {
  content: "GP/Day";
}

.teamRowGreen {
  background-color: rgba(0, 255, 0, 0.1) !important;
}
.teamRowRed {
  background-color: rgba(255, 0, 0, 0.1) !important;
}

.teamRowGreen:hover {
  background-color: mix(white, rgba(0, 255, 0, 0.15), 8%) !important;

  filter: brightness(120%) !important;
}

.teamRowRed:hover {
  filter: brightness(110%) !important;
  background-color: mix(white, rgba(255, 0, 0, 0.15), 8%) !important;
}

/* Green to Yellow (Ranks 32 to 17) 
   Trying to Rank the weekScore 1-32 and color code */
.rank-color-1 {
  background-color: rgba(0, 255, 0, 0.45);
} /* Green */
.rank-color-2 {
  background-color: rgba(16, 255, 0, 0.45);
}
.rank-color-3 {
  background-color: rgba(32, 255, 0, 0.45);
}
.rank-color-4 {
  background-color: rgba(48, 255, 0, 0.45);
}
.rank-color-5 {
  background-color: rgba(64, 255, 0, 0.45);
}
.rank-color-6 {
  background-color: rgba(80, 255, 0, 0.45);
}
.rank-color-7 {
  background-color: rgba(96, 255, 0, 0.45);
}
.rank-color-8 {
  background-color: rgba(112, 255, 0, 0.45);
}
.rank-color-9 {
  background-color: rgba(128, 255, 0, 0.45);
}
.rank-color-10 {
  background-color: rgba(144, 255, 0, 0.45);
}
.rank-color-11 {
  background-color: rgba(160, 255, 0, 0.45);
}
.rank-color-12 {
  background-color: rgba(176, 255, 0, 0.45);
}
.rank-color-13 {
  background-color: rgba(192, 255, 0, 0.45);
}
.rank-color-14 {
  background-color: rgba(208, 255, 0, 0.45);
}
.rank-color-15 {
  background-color: rgba(224, 255, 0, 0.45);
}
.rank-color-16 {
  background-color: rgba(240, 255, 0, 0.45);
} /* Yellow */

/* Yellow to Red (Ranks 17 to 32) */
.rank-color-17 {
  background-color: rgba(255, 240, 0, 0.45);
}
.rank-color-18 {
  background-color: rgba(255, 224, 0, 0.45);
}
.rank-color-19 {
  background-color: rgba(255, 208, 0, 0.45);
}
.rank-color-20 {
  background-color: rgba(255, 192, 0, 0.45);
}
.rank-color-21 {
  background-color: rgba(255, 176, 0, 0.45);
}
.rank-color-22 {
  background-color: rgba(255, 160, 0, 0.45);
}
.rank-color-23 {
  background-color: rgba(255, 144, 0, 0.45);
}
.rank-color-24 {
  background-color: rgba(255, 128, 0, 0.45);
}
.rank-color-25 {
  background-color: rgba(255, 112, 0, 0.45);
}
.rank-color-26 {
  background-color: rgba(255, 96, 0, 0.45);
}
.rank-color-27 {
  background-color: rgba(255, 80, 0, 0.45);
}
.rank-color-28 {
  background-color: rgba(255, 64, 0, 0.45);
}
.rank-color-29 {
  background-color: rgba(255, 48, 0, 0.45);
}
.rank-color-30 {
  background-color: rgba(255, 32, 0, 0.45);
}
.rank-color-31 {
  background-color: rgba(255, 16, 0, 0.45);
}
.rank-color-32 {
  background-color: rgba(255, 0, 0, 0.45);
} /* Red */

/* MAGGIE <3 */

@media only screen and (min-width: vars.$screen-large) {
  .teamRow {
    .teamName {
      display: flex; /* Ensure Flexbox is applied on large screens */
      justify-content: space-between;
      align-items: center;
    }
    .teamAbbreviation {
      display: none; /* Hide the separate abbreviation if it's redundant */
    }
  }

  .totalGamesPerDayRow > .title::before {
    content: "GP/Day";
  }
}

@media only screen and (max-width: 1024px) {
  .mainGridContainer {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
  }

  .dateButtonPrev {
    font-family: roboto condensed, sans-serif;
    position: relative;
    background: #07aae2;
    color: #ffffff;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
  }

  .dateButtonPrev:hover {
    font-family: roboto condensed, sans-serif;
    position: relative;

    background: #07aae2;
    color: #ffffff;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    filter: brightness(120%);
  }

  .dateButtonNext {
    font-family: roboto condensed, sans-serif;
    position: relative;
    background: #07aae2;
    color: #ffffff;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
  }

  .dateButtonNext:hover {
    font-family: roboto condensed, sans-serif;
    position: relative;
    width: 60px;
    background: #07aae2;
    color: #ffffff;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 40px;
    border-radius: 6px;
    filter: brightness(120%);
  }

  .scheduleGrid {
    width: 100%;
    border: 2px solid #505050;
    border-radius: 0;
    overflow-x: scroll;
  }

  .scheduleGrid tr {
    height: 35px;
  }

  .gameGridTitle {
    font-size: 1.5em;
    width: 100%;
  }

  .actions {
    width: 100%;
  }

  .dateButtonMode {
    font-family: roboto condensed, sans-serif;
    position: relative;
    background: #07aae2;
    color: #ffffff;
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
  }

  .orientationToggleButton {
    font-family: roboto condensed, sans-serif;
    position: relative;
    background: #07aae2;
    color: #ffffff;
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
  }

  .gridWrapper {
    width: 100%;
    max-width: 100%;
  }

  .fourWeekLabel {
    display: none;
  }

  .gameGridHeader {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .gameGridTitle {
      font-size: 2em;
      width: 100%;
    }

    .prevNextButtons {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.75rem;
    }
  }

  .totalGamesPerDayRow {
    border-bottom: 0.5px solid white;
  }

  .scheduleGrid th {
    font-family: roboto condensed, sans-serif;
    position: relative;
  }

  .scheduleGrid tr th:first-child,
  .scheduleGrid tr td:first-child {
    max-width: 50px !important;
    min-width: 45px;
    font-size: 1em;
    border-right: 3px solid #07aae2;
  }

  .scheduleGrid tr th:nth-child(n + 2),
  .scheduleGrid td:nth-child(n + 2) {
    font-family: roboto condensed, sans-serif;
    padding: 6px 6px;
    min-width: 30px;
    max-width: 50px;
    text-align: center;
    font-size: 1em;
  }

  .scheduleGrid tr th:nth-child(9),
  .scheduleGrid tr th:nth-child(10),
  .scheduleGrid tr td:nth-child(9),
  .scheduleGrid tr td:nth-child(10) {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
  }

  .scheduleGrid tr th:nth-child(9),
  .scheduleGrid tr th:nth-child(10),
  .scheduleGrid tr th:nth-child(11) {
    font-family: roboto condensed, sans-serif;
    padding: 2px 2px;
    min-width: 30px;
    max-width: 35px;
    text-align: center;
    font-size: 1em;
    padding-bottom: 8px;
  }

  .blurredImage {
    filter: blur(4px); // Adjust the blur amount as needed
  }

  .scoreAndHomeAway {
    display: none;
  }

  .homeAway {
    display: none;
  }

  .hideOnMobile {
    display: none;
  }

  /* MAGGIE <3 */

  .mobileLogoSize {
    padding: 1.5px !important;
  }

  .mobileFontStyle {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 1em !important;
    margin-bottom: 7px !important;
  }

  .score {
    display: none;
  }

  .totalGamesPerDayCell {
    background-color: #000;
    color: white;
  }

  .totalGamesPerDayRow > .title::before {
    content: "GP/Day";
  }

  .teamRow {
    .teamName {
      display: none;
    }
  }

  .fourWeekLabel {
    display: none;
  }

  .fourWeekTitle {
    display: none;
  }
}

@media only screen and (min-width: vars.$screen-medium) and (max-width: vars.$screen-large) {
  .teamRow {
    .teamName {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .teamAbbreviation {
      display: none;
    }
  }

  .totalGamesPerDayRow > .title::before {
    content: "GP/Day";
  }
}

@media (max-width: 480px) {
  /* portrait */

  .mainGridContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
    border-spacing: 0px;
  }

  .scheduleGrid {
    width: 100%;
    border-left: 2px solid #50505074;
    border-right: 2px solid #86868674;
    border-bottom: 2px solid #50505074;
    border-top: none;
    border-spacing: 0px;

    border-radius: 0 0 4px 4px;
    overflow-x: scroll;
    border-collapse: separate;
    overflow: visible; // Ensure vertical overflow is visible

    & thead th {
      font-size: 8px !important;
      font-family: roboto condensed, sans-serif;
      position: relative;
      padding: 0;
      position: sticky;
      top: 0;
      z-index: 2; // Ensure they appear above other cells
      background-color: #101010; // Match your header background
    }
  }

  .scheduleGrid tr {
    height: 35px;
  }

  .gameGridTitle {
    font-size: 1.5em;
    width: 100%;
  }

  .actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .gridWrapper {
    width: 100%;
    max-width: 100%;
  }

  .fourWeekLabel {
    display: none;
  }

  .gameGridHeaderContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .gameGridHeader {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .gameGridTitle {
      font-size: 2em;
      width: 100%;
    }

    .prevNextButtons {
      flex: 0 0 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0px 0px 0px;
      gap: 0rem;
      border-bottom: 3px solid #f6fdff;

      // Reorder the buttons only on mobile with specific widths
      .dateButtonPrev {
        order: 1;
        width: 10%;
        text-indent: -9999px; // hide original text
        position: relative;
        background-color: #07abe2d7;
        border-radius: 6px 0 0 0;
        border-left: 2px solid #fff;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        border-bottom: none;
        padding: 0;
      }

      .dateButtonMode {
        order: 2;
        width: 40%;
        margin: 0;
        background-color: #07abe2d7;
        border-radius: 0;
        border-top: 2px solid #fff;
        border-right: 1px solid #fff;
        border-left: none;
        border-bottom: none;
      }

      .orientationToggleButton {
        order: 3;
        width: 40%;
        margin: 0;
        border-radius: 0;
        background-color: #07abe2d7;
        border-top: 2px solid #fff;
        border-right: none;
        border-left: 1px solid #fff;
        border-bottom: none;
      }

      .dateButtonNext {
        order: 4;
        width: 10%;
        text-indent: -9999px;
        position: relative;
        border-radius: 0 6px 0 0;
        background-color: #07abe2d7;
        border-left: 2px solid #fff;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        border-bottom: none;
      }
      // Replace the text for Prev and Next buttons via pseudo-elements
      .dateButtonPrev::after {
        content: "<";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-indent: 0;
        color: white;
        font-size: 1.2em;
      }
      .dateButtonNext::after {
        content: ">";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-indent: 0;
        color: white;
        font-size: 1.2em;
      }

      .dateButtonPrev:hover {
        order: 1;
        width: 10%;
        text-indent: -9999px; // hide original text
        position: relative;
        background-color: #1883a7;

        padding: 0;

        filter: brightness(110%);
      }

      .dateButtonNext:hover {
        order: 4;
        width: 10%;
        text-indent: -9999px; // hide original text
        position: relative;
        background-color: #1883a7;
        border-bottom: none;
        padding: 0;
        filter: brightness(110%);
      }
    }
  }

  .scheduleGrid tr th:first-child,
  .scheduleGrid tr td:first-child {
    min-width: $mobile-fixed-width;
    max-width: $mobile-fixed-width;
    font-size: 10px;
    font-weight: 900;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
    border-right: 2px solid #07aae2;
    padding: 0;
    text-align: center;
  }

  .scheduleGrid tr th:nth-child(n + 2),
  .scheduleGrid td:nth-child(n + 2) {
    font-family: roboto condensed, sans-serif;
    min-width: $mobile-fixed-width;
    max-width: $mobile-fixed-width;
    text-align: center;
    font-size: 12px;
    padding: 2px 0 2px 0;
    border: 1px solid #3f3f3f90;
  }

  .scheduleGrid tr th:nth-child(9),
  .scheduleGrid tr th:nth-child(10),
  .scheduleGrid tr td:nth-child(9),
  .scheduleGrid tr td:nth-child(10) {
    border: 0.5px solid #86868690;
    font-size: 12px;
  }

  .scheduleGrid tr th:nth-child(11),
  .scheduleGrid tr td:nth-child(11) {
    border-left: 0.5px solid #86868690;
    border-bottom: 0.5px solid #86868690;
    border-top: 0.5px solid #86868690;
    border-right: none;
  }

  .scheduleGrid tr th:nth-child(9),
  .scheduleGrid tr th:nth-child(10) {
    font-family: roboto condensed, sans-serif;
    padding: 2px 2px;
    min-width: $mobile-fixed-width;
    max-width: $mobile-fixed-width;
    text-align: center;
    font-size: 8px;
    padding-bottom: 8px;
    border: 0.5px solid #86868690;
    border-top: none;
  }

  .scheduleGrid tr th:nth-child(11) {
    font-family: roboto condensed, sans-serif;
    padding: 2px 2px;
    min-width: $mobile-fixed-width;
    max-width: $mobile-fixed-width;
    text-align: center;
    font-size: 8px;
    padding-bottom: 8px;
    border-left: 0.5px solid #86868690;
    border-bottom: 0.5px solid #86868690;
    border-top: none;
    border-right: none;
  }

  .blurredImage {
    filter: blur(4px); // Adjust the blur amount as needed
  }

  .scoreAndHomeAway {
    display: none;
  }

  .homeAway {
    display: none;
  }

  .hideOnMobile {
    display: none;
  }

  /* MAGGIE <3 */

  .mobileLogoSize {
    padding: 1px !important;
  }

  .mobileTeamLogo {
    padding: 0px !important;
  }

  .mobileFontStyle {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 8px !important;
    margin-bottom: 7px !important;
  }

  .score {
    display: none;
  }

  .totalGamesPerDayCell {
    background-color: #000;
    color: white;
  }

  .totalGamesPerDayRow > .title::before {
    content: "GP";
  }

  .teamRow {
    .teamName {
      display: none;
    }

    .desktopTeamAbbreviation {
      display: none;
    }

    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      filter: drop-shadow(0 0 2px rgba(201, 199, 199, 0.3));
    }
  }
}

@media (max-width: 360px) {
  .scheduleGrid tr th:nth-child(n + 2),
  .scheduleGrid td :nth-child(n + 2) {
    font-size: 8px;
    min-width: 25px;
    max-width: 25 px;
  }

  .scheduleGrid tr th:first-child,
  .scheduleGrid tr td:first-child {
    max-width: 40px !important;
    min-width: 30px;
    font-size: 10px;
    border-right: 3px solid #07aae2;
    padding: 4px;
    font-size: 0.5em;
  }

  .gameGridTitle {
    font-size: 1em !important;
    width: 100%;
  }
}

@media screen and (orientation: landscape) /* LANDSCAPE */ and (min-device-width: 479px) and (max-device-width: 932px) {
  .dateButtonPrev {
    font-family: roboto condensed, sans-serif;
    position: relative;
    height: 30px;
    width: 90px;
    background: #07aae2;
    color: #ffffff;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
  }

  .dateButtonPrev:hover {
    font-family: roboto condensed, sans-serif;
    position: relative;
    height: 30px;
    width: 90px;
    background: #07aae2;
    color: #ffffff;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    filter: brightness(120%);
  }

  .dateButtonNext {
    font-family: roboto condensed, sans-serif;
    position: relative;
    height: 30px;
    width: 90px;
    background: #07aae2;
    color: #ffffff;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
  }

  .dateButtonNext:hover {
    font-family: roboto condensed, sans-serif;
    position: relative;
    height: 30px;
    width: 90px;
    background: #07aae2;
    color: #ffffff;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    filter: brightness(120%);
  }

  .scheduleGrid {
    width: 100% !important;
    border: 2px solid white;
    border-radius: 0;
    overflow-x: scroll;
  }

  .scheduleGrid tr {
    height: 50px;
  }

  .gridWrapper {
    width: 100%;
    margin-top: 20px;
  }

  .totalGamesPerDayRow {
    border-bottom: 0.5px solid white;
  }

  .scheduleGrid tr th:first-child,
  .scheduleGrid tr td:first-child {
    max-width: 90px;
    min-width: 40px;
    font-size: 14px;
    margin: auto;
    border-right: 3px solid #07aae2;
  }

  .scheduleGrid tr th:nth-child(n + 2),
  .scheduleGrid td:nth-child(n + 2) {
    font-family: roboto condensed, sans-serif;
    padding: 2px 2px;
    min-width: 30px;
    max-width: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
  }

  .scheduleGrid tr th:nth-child(9),
  .scheduleGrid tr th:nth-child(10),
  .scheduleGrid tr td:nth-child(9),
  .scheduleGrid tr td:nth-child(10) {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
  }

  .scoreAndHomeAway {
    display: block;
    margin: auto;
    padding: 1px !important;
  }

  .homeAway {
    display: block;
    font-size: 10px;
  }

  .hideOnMobile {
    display: block;
  }

  /* MAGGIE <3 */

  .mobileLogoSize {
    padding: 1px !important;
  }

  .mobileFontStyle {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 12px !important;
  }

  .score {
    display: block;
    font-size: 10px;
  }

  .totalGamesPerDayCell {
    background-color: #000;
    color: white;
  }

  .totalGamesPerDayRow > .title::before {
    content: "GP/Day";
  }

  .teamRow {
    .teamName {
      display: block;
    }
  }
}

@media (max-width: 320px) {
  .dateButtonPrev {
    font-family: roboto condensed, sans-serif;
    position: relative;
    height: 20px;
    width: 60px;
    background: #07aae2;
    color: #ffffff;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
  }

  .dateButtonPrev:hover {
    font-family: roboto condensed, sans-serif;
    position: relative;
    height: 20px;
    width: 60px;
    background: #07aae2;
    color: #ffffff;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    filter: brightness(120%);
  }

  .dateButtonNext {
    font-family: roboto condensed, sans-serif;
    position: relative;
    height: 20px;
    width: 60px;
    background: #07aae2;
    color: #ffffff;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
  }

  .dateButtonNext:hover {
    font-family: roboto condensed, sans-serif;
    position: relative;
    height: 20px;
    width: 60px;
    background: #07aae2;
    color: #ffffff;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    filter: brightness(120%);
  }

  .scheduleGrid {
    width: 100%;
    border: 2px solid white;
    border-radius: 0;
    overflow-x: scroll;
  }

  .scheduleGrid tr {
    height: 35px;
  }

  .gridWrapper {
    width: 100%;
    margin-top: 20px;
  }

  .totalGamesPerDayRow {
    border-bottom: 0.5px solid white;
  }

  .scheduleGrid th {
    font-family: roboto condensed, sans-serif;
    position: relative;
  }

  .scheduleGrid tr th:first-child,
  .scheduleGrid tr td:first-child {
    text-align: center;
    max-width: 40px;
    min-width: 30px;
    font-size: 10px;
    border-right: 5px solid #07aae2;
    padding-left: 4px !important;
  }

  .scheduleGrid tr th:nth-child(n + 2),
  .scheduleGrid td:nth-child(n + 2) {
    font-family: roboto condensed, sans-serif;
    padding: 2px 2px;
    min-width: 25px;
    max-width: 40px;
    text-align: center;
    font-size: 8px;
  }

  .scheduleGrid tr th:nth-child(9),
  .scheduleGrid tr td:nth-child(9) {
    border-left: 5px solid #07aae2;
  }

  .scheduleGrid tr th:nth-child(9),
  .scheduleGrid tr th:nth-child(10),
  .scheduleGrid tr td:nth-child(9),
  .scheduleGrid tr td:nth-child(10) {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
  }

  .scoreAndHomeAway {
    display: none;
  }

  .homeAway {
    display: none;
  }

  .hideOnMobile {
    display: none;
  }

  /* MAGGIE <3 */

  .mobileLogoSize {
    padding: 1px !important;
    width: 20px;
    height: 20px !important;
  }

  .mobileFontStyle {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 7px !important;
  }

  .score {
    display: none;
  }

  .totalGamesPerDayCell {
    background-color: #000;
    color: white;
  }

  .totalGamesPerDayRow > .title::before {
    content: "GP/Day";
  }

  .teamRow {
    .teamName {
      display: none;
    }
  }
}
