.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 12px;
  outline: 1px solid #ffffffcb;
  border-radius: 10px;
  top: -1;
  left: 0;
  right: 0;
  bottom: -1;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0c92bf;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  right: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}



input:checked + .slider {
  background-color: #242424;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  transform: translateX(-15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Existing CSS rules... */

@media (max-width: 480px) {
  .switch {
    width: 20px; /* Half of the original width */
    height: 10px; /* Half of the original height */
  }

  .slider {
    background-color: #07aae2;  
    color: #FFF;
  }

  .slider:before {
    background-color: #FFF;
    height: 6px; /* Half of the original height */
    width: 6px; /* Half of the original width */
    right: 2px; /* Adjusted to maintain the layout */
    bottom: 2px; /* Adjusted to maintain the layout */
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(-10px); /* Half of the original transform */
    -ms-transform: translateX(-10px); /* Half of the original transform */
    transform: translateX(-10px); /* Half of the original transform */
  }
}

@media screen and (orientation:landscape) /* LANDSCAPE */
and (min-device-width: 479px) 
and (max-device-width: 932px) {
    .switch {

    width: 30px; /* Half of the original width */
    height: 14px; /* Half of the original height */
  }

  .slider {
    background-color: #07aae2;  
    color: #FFF;
  }

  .slider:before {
    background-color: #FFF;
    height: 10px; /* Half of the original height */
    width: 10px; /* Half of the original width */
    right: 3px; /* Adjusted to maintain the layout */
    bottom: 2px; /* Adjusted to maintain the layout */
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(-14px); /* Half of the original transform */
    -ms-transform: translateX(-14px); /* Half of the original transform */
    transform: translateX(-14px); /* Half of the original transform */
  }
}
