.container {
  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  border: 1.33px solid white;
  background-color: #154734;
  .playerCardWrapper {
    position: relative;
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      width: 0.5px;
      height: 83%;
      right: 0;
      top: 7px;
      background-color: #ddcba4;
    }
  }
}
