.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  --spacing: 6px;
  --player-info-size: 120px;
  --cell-size: 20.5px;
  font-size: 0.875rem;
  .topPlayerName {
    position: relative;
    transition: transform 0.5s;
  }
  .topPlayerName .inner {
    position: absolute;
    transform: rotate(-90deg);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transform-origin: 0 0;
    width: var(--player-info-size);
    top: 100%;
    padding: 0 var(--spacing);
    line-height: var(--cell-size);
  }

  .leftPlayerName {
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 var(--spacing);
    transition: transform 0.2s ease-in-out;
    line-height: var(--cell-size);
  }

  .active {
    color: darkorange;
    transform: scale(1.05);
  }

  .cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid #fff;

    &:hover {
      border-color: darkorange;
    }
    & .content {
      width: 100%;
      height: 100%;
    }
  }
}
