@import "styles/vars.scss";

// Page Specific Content
.pageContent {
  flex: 1;
  padding: 0 0.75rem;
  overflow-x: hidden;
  @media only screen and (min-width: $screen-large) {
    padding: 0 1.5rem;
  }
}
