@import "styles/vars.scss";

.banner {
  color: #ffffff;
  background: #101010;
  border-bottom: 4px solid white;
  border-top: 4px solid white;
  margin: 0 -2rem 0.8rem -2rem;

  padding-top: 10px;
  padding-bottom: 10px;
  @media only screen and (min-width: $screen-large) {
    margin-bottom: 10px;
    border-bottom: 4px solid white;
    border-top: 4px solid white;

    min-height: 40px;
    background: #101010;
    color: #ffffff;
    text-align: left;
  }
}

.textBanner {
  font-family: "Didact Gothic", sans-serif;
  text-align: center;
  color: #ffffff;
  background: #101010;
  border-bottom: 4px solid white;
  border-top: 4px solid white;
  margin: 0 -2rem 0.8rem -2rem;

  @media only screen and (max-width: $screen-medium-max) {
    & > h1 {
      margin: 0.3rem 0;
      font-size: large;
    }
  }

  @media only screen and (min-width: $screen-large) {
    margin-bottom: 15px;
  }
}
