@import "styles/vars.scss";

.banner {
  color: #ffffff;
  background: #181818;
  border-bottom: 4px solid white;
  // extend to the left right sides
  margin: 0 -2rem 0.8rem -2rem;

  padding-top: 10px;
  padding-bottom: 10px;
  @media only screen and (min-width: $screen-large) {
    margin-bottom: 10px;
    border-bottom: 4px solid white;

    min-height: 40px;
    background: #181818;
    color: #ffffff;
    text-align: left;
  }
}

.textBanner {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #ffffff;
  background: #181818;
  border-bottom: 4px solid white;
  // extend to the left right sides
  margin: 0 -2rem 0.8rem -2rem;
  & > h1 {
    margin: 0;
  }
  @media only screen and (max-width: $screen-medium-max) {
    padding: 0.3rem;

    & > h1 {
      font-size: large;
    }
  }

  @media only screen and (min-width: $screen-large) {
    padding: 0.8rem;

    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {

  .textBanner {
    font-family: roboto condensed, sans-serif;
    border-bottom: 2px solid white;

  }
}

@media screen and (orientation:landscape) /* LANDSCAPE */
and (min-device-width: 479px) 
and (max-device-width: 932px) {

  .textBanner {
    font-family: roboto condensed, sans-serif;
    border-bottom: 4px solid white;

  }
}

@media screen and (orientation:landscape) 
and (min-device-width: 479px) 
and (max-device-width: 932px) {

  .banner, .textBanner {
    padding-top: 6.67px; // Two-thirds of 10px
    padding-bottom: 6.67px; // Two-thirds of 10px
    font-family: roboto condensed, sans-serif;
    border-bottom: 4px solid white;
  }
}

@media (max-width: 480px) {
  .banner, .textBanner {
    padding-top: 6.67px; // Two-thirds of 10px
    padding-bottom: 6.67px; // Two-thirds of 10px
    font-family: roboto condensed, sans-serif;
    border-bottom: 2px solid white;
  }
}