@use "styles/vars" as vars;

.banner {
  color: vars.$text-primary;
  background: vars.$surface-1;
  border-bottom: 1px solid vars.$border-secondary;
  margin: 0 -2rem vars.$mobile-space-md -2rem;
  padding: 10px 0;

  @media only screen and (min-width: vars.$screen-large) {
    margin-bottom: 10px;
    min-height: 40px;
    text-align: left;
  }
}

.textBanner {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: vars.$text-primary;
  background: vars.$surface-1;
  border-bottom: 1px solid vars.$border-secondary;
  margin: 0 -2rem vars.$mobile-space-md -2rem;
  & > h1 {
    margin: 0;
    font-size: vars.$mobile-font-size-lg;
    letter-spacing: 0.2px;
  }
  @media only screen and (max-width: vars.$screen-medium-max) {
    padding: 0.3rem;

    & > h1 {
      font-size: vars.$mobile-font-size-md;
    }
  }

  @media only screen and (min-width: vars.$screen-large) {
    padding: 0.8rem;

    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .textBanner {
    font-family: roboto condensed, sans-serif;
    border-bottom: 1px solid vars.$border-secondary;
  }
}

@media screen and (orientation: landscape) /* LANDSCAPE */ and (min-device-width: 479px) and (max-device-width: 932px) {
  .textBanner {
    font-family: roboto condensed, sans-serif;
    border-bottom: 1px solid vars.$border-secondary;
  }
}

@media screen and (orientation: landscape) and (min-device-width: 479px) and (max-device-width: 932px) {
  .banner,
  .textBanner {
    padding-top: 6.67px; // Two-thirds of 10px
    padding-bottom: 6.67px; // Two-thirds of 10px
    font-family: roboto condensed, sans-serif;
    border-bottom: 1px solid vars.$border-secondary;
  }
}

@media (max-width: 480px) {
  .banner,
  .textBanner {
    padding-top: 6.67px; // Two-thirds of 10px
    padding-bottom: 6.67px; // Two-thirds of 10px
    font-family: roboto condensed, sans-serif;
    border-bottom: 1px solid vars.$border-secondary;
  }
}

@media (max-width: 767px) {
  .banner {
    display: none;
  }
}
