.arrow-up {
  display: block;
  position: absolute;
  margin-top: 8px;
  margin-left: 20px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #07aae2;
}

.arrow-down {
  display: block;
  position: absolute;
  margin-top: 8px;
  margin-left: 20px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #07aae2;
}

.arrow-up:hover {
  cursor: pointer;
}

.arrow-down:hover {
  cursor: pointer;
}

.disabled {
  border-top-color: gray;
  border-bottom-color: gray;
}

/* Existing CSS rules... */

@media (min-width: 320px) and (max-width: 480px) {
  .arrow-up, .arrow-down {
    position: absolute;
    transform: translate( -100%);
    border-left: 5px solid transparent; /* Smaller border for a smaller arrow */
    border-right: 5px solid transparent; /* Smaller border for a smaller arrow */
    border-bottom: 5px solid #07aae2; /* Adjusted for .arrow-up */
  }

  .arrow-down {
    border-top: 5px solid #07aae2; /* Adjusted for .arrow-down */
    border-bottom: none; /* Remove bottom border for .arrow-down */
  }
}

@media screen and (orientation:landscape) /* LANDSCAPE */
and (min-device-width: 479px) 
and (max-device-width: 932px) {
    .arrow-up, .arrow-down {
    position: absolute;
    left: 50%;
    transform: translate( -50%);
    margin-top: 4px; /* Reduced margin */
    border-left: 8px solid transparent; /* Smaller border for a smaller arrow */
    border-right: 8px solid transparent; /* Smaller border for a smaller arrow */
    border-bottom: 8px solid #07aae2; /* Adjusted for .arrow-up */
  }

  .arrow-down {
    border-top: 8px solid #07aae2; /* Adjusted for .arrow-down */
    border-bottom: none; /* Remove bottom border for .arrow-down */
  }
}

