@import "styles/vars.scss";

.form {
  .error {
    color: #ffc107;
    font-size: small;
    margin: 0.3rem 0;
  }
  .contentWrapper {
    border: 2px solid white;
    background-color: $bg-light;
    color: white;
    padding: 0.3rem;
    .name {
      display: block;
      width: 100%;
      border: 1px solid white;
      background-color: inherit;
      color: inherit;
      padding: 0.3rem;
      &::placeholder {
        color: inherit;
        font-style: italic;
        opacity: 0.7;
      }
      margin-bottom: 0.3rem;
    }
    .comment {
      display: block;
      width: 100%;
      border: 1px solid white;
      background-color: inherit;
      color: inherit;
      padding: 0.2rem 0.3rem;
      font-family: "Roboto", sans-serif;

      &::placeholder {
        color: inherit;
        font-style: italic;
        opacity: 0.7;
      }
    }
  }

  .actions {
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .commentButton {
      all: unset;
      color: white;
      background-color: #202020;
      border: 2px solid #1190bc;
      padding: 6px 16px;
      border-radius: 1rem;
      &:hover {
        cursor: pointer;
      }
    }
    .spinner {
      margin-right: 0.5rem;
    }
  }
}
