.iconButton {
  display: inline-block;
  border: none;
  padding: 0;
  color: white;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover {
    cursor: pointer;
  }
}
