@import "styles/vars.scss";
@import "styles/Charts.module.scss";

.playerCard {
  display: flex;
  height: 100%;

  .info {
    flex: 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 2fr;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 8px;

    .names {
      display: flex;
      flex-direction: column;
      .firstName {
        font-size: 14px;
        font-weight: 900;
      }
      .lastName {
        color: $primary-color;
        font-size: 24px;
        font-weight: 700;
        font-family: "Roboto Condensed";
      }
      margin-bottom: 9px;
    }

    .stats {
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 10px;
      .label {
        opacity: 0.5;
        font-weight: 400;
      }
      .value {
        font-weight: 800;
        margin-left: 4px;
      }
    }

    .teamLogo {
      width: 32px;
      height: 32px;
      justify-self: end;
    }

    .teamInfo {
      display: grid;
      font-size: 10px;
      text-align: right;

      .teamAbbreviation {
        opacity: 0.5;
      }
      .position {
        text-transform: uppercase;
        white-space: nowrap;
        font-weight: 800;
      }
    }
  }

  .playerImageWrapper {
    &:hover {
      cursor: pointer;
    }

    flex: 3;
    // show player's head
    & > img {
      object-position: top;
      outline: 2px solid white;
    }
  }

  @media only screen and (min-width: $screen-large) {
    .info {
      padding-top: 20px;
      padding-left: 25px;
      padding-bottom: 14px;
      padding-right: 20px;

      .names {
        .firstName {
          font-size: 1.75rem;
          line-height: 32.81px;
        }
        .lastName {
          font-size: 3rem;
          line-height: 56.25px;
        }
      }

      .stats {
        font-size: 1.25rem;
      }
      .teamLogo {
        width: 77px;
        height: 79px;
      }
      .teamInfo {
        font-size: 1.25rem;
      }
    }
  }

  // remove list default style
  ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  li {
    display: block;
  }
}
