// C:\Users\timbr\OneDrive\Desktop\fhfhockey.com-3\web\components\DateRangeMatrix\index.module.scss

@use "styles/vars";

.gridWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media only screen and (max-width: vars.$screen-medium-max) {
    flex-direction: column;
  }
}

.toggleWrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &.active {
      background-color: #0056b3;
    }

    &:hover {
      background-color: #0056b3;
    }
  }
}

.date-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;

  .react-datepicker-wrapper {
    margin: 0 1rem;
  }
}

// single matrix container
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  --spacing: 6px;
  --player-info-size: 90px;
  font-size: 0.875rem;

  @media only screen and (max-width: $screen-small-max) {
    --player-info-size: 80px;
    font-size: 0.7rem;
  }

  &.totalToiMode,
  &.fullRosterMode {
    --player-info-size: 60px; // Smaller size for Total TOI and Full Roster modes
    font-size: 0.55rem; // Smaller font size for the labels
    text-transform: uppercase;

    @media only screen and (max-width: $screen-small-max) {
      --player-info-size: 50px;
      font-size: 0.65rem;
    }
  }

  .goalieBar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
  }

  .goalie {
    font-size: 14px;
    font-weight: bold;
  }

  // #__next > div > div.ShiftChart_shiftChartContainer__CgnMf > div:nth-child(3) > div > div.DateRangeMatrix_gridWrapper__d0Bm9 > section:nth-child(2) > h4

  h4 {
    font-family: montesserat, sans-serif;
    font-size: 1.5rem;
    padding: 0;

    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.075em;
    font-style: italic;
  }

  .grid {
    background-color: #292929;
    color: #fff;
    display: grid;
    width: 95%;
    aspect-ratio: 1 / 1;
    padding: 20px;
    border: 2px solid #292929;
    border-radius: 10px;

    .topPlayerName {
      position: relative;
      transition: transform 0.5s;
      font-variant: small-caps;
    }
    .topPlayerName .inner {
      position: absolute;
      transform: rotate(-90deg) translateY(-50%);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      transform-origin: 0 0;
      width: var(--player-info-size);
      top: 100%;
      left: 50%;
      padding: 0 var(--spacing);
      font-family: roboto condensed, sans-serif;
    }

    .leftPlayerName {
      text-align: right;
      text-overflow: ellipsis;
      font-variant: small-caps;
      overflow: hidden;
      white-space: nowrap;
      padding: 0 var(--spacing);
      transition: transform 0.2s ease-in-out;
      align-self: center;
      font-family: roboto condensed, sans-serif;
    }

    .active {
      color: darkorange;
      transform: scale(1.05);
    }

    .cell {
      border: 1px solid #585858;
      background: #292929;

      &:hover {
        border-color: darkorange; // Ensure hover effect is visible
      }

      &.highlight {
        border: 1px solid #e5d2b0; // Use a class to apply the highlight style
      }

      & .content {
        width: 100%;
        height: 100%;
      }
    }
  }
}
